@using probnik.Data.Models
<!-- Заголовки для всей этой залупы -->
<h2>Все автомобили</h2>
<h3>@Model.CurrentCategory</h3>

<div class="row m-5 mb-2">
    <!-- Блок для размещения информации по каждой машине в БД -->
    @{
        foreach (Car car in Model.GetAllCars) // Размещение каждой отдельной машины
        {
            <partial name="AllCars" model="car" />
        }
    }
</div>


